.home-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

.left-half {
  position: relative;
  /*flex:70%; /* Take half of the available space */
  overflow: hidden; /* Hide any overflow */
  height: 100vh; /* Set height to full viewport height */
  width: 65%;
}

.background-image {
  width: 100%; /* Full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevent overflow */
  object-fit: cover; /* Cover the entire area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  color: white; /* White text */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  padding:20px; /* Add some padding */
  text-align: center; /* Center text */
}

.right-half {
  flex: 1; /* Take half of the available space */
  background-color: white; /* White background */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding:0px; /* Add some padding */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.primary-buttons .btn {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  padding: 12px 25px; /* Standard padding */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  font-size: 16px;
  color: #ffffff; /* White text color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #007bff; /* Primary blue background */
  transition: background-color 0.3s ease; /* Smooth transition for color change */
  height: 45px; /* Fixed height for buttons */
}

.primary-buttons .btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.button-link {
  text-decoration: none; /* Remove underline from links */
}