.logo {
  position:absolute; /* Enable absolute positioning */
  top:8px; /* Align to the top */
  left: 30px; /* Align to the left */
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevent overflow */
  object-fit: cover; /* Keep the image aspect ratio intact */
  margin: 0; /* Remove any margin */
  padding: 0.15%; /* Ensure no padding interferes */
}


.nav-item{
  position:flex; /* Enable absolute positioning */
  top:8px; /* Align to the top */
  nav-right: 0px; /* Align to the left */
  width: 85px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; /* Prevent overflow */
  object-fit: cover; /* Keep the image aspect ratio intact */
  margin: 0; /* Remove any margin */
  padding: 0.15%; /* Ensure no padding interferes */
  
}
